// Color Palette

// rgba(0,0,0,.9) - deep black
// rgba(0,0,0,.85) - black
// rgba(0,0,0,.8) - print black
// rgba(0,0,0,.75) - light black
// rgba(0,0,0,.6) - muted black
// #ba3925 - orange
// #7a2518 - dark orange
// #3a120c - maroon
// #2561ba - blue
// #f8f8f7 - warm beige
// #f7f7f8 - cool beige
// #f7f8f7 - tinted beige
// #ddddd8 - light gray
// #d8d8d8 - lighter gray
// #efefed - very light gray

// IMPORTANT: $body-* variables must be defined above the defaults import

// Body

$body-font-color: rgba(0, 0, 0, 0.8);
$body-font-family: "Noto Serif", "DejaVu Serif", serif;
// TIP: set $base-font-size & $rem-base to scale all font sizes proprotionally
//$base-font-size: 17px;
//$rem-base: $base-font-size;

@import "defaults";

// General

$primary-color: darken(#2561ba, 5%);
// NOTE $code-color is 15% darker than $alert-color, so we lighten here by 15%
$alert-color: lighten(#3a120c, 15%);
$global-radius: 4px;
$panel-bg: #f8f8f7;
$panel-font-color: rgba(0, 0, 0, 0.75);

// Headings

$header-font-family: "Open Sans", "DejaVu Sans", sans-serif;
$header-font-weight: 300;
$header-font-color: #ba3925;
$header-line-height: 1.2;
$header-top-margin: 1em;
$header-bottom-margin: 0.5em;
$header-word-spacing: -0.05em;
$title-font-color: rgba(0, 0, 0, 0.85);
$title-font-weight: $header-font-weight;
$subheader-font-family: $body-font-family;
$subheader-font-size: rem-calc(16px);
$subheader-font-color: darken($header-font-color, 15%); // resolves to #7a2518
$subheader-font-weight: normal;
$subheader-font-style: italic;
$subheader-line-height: 1.45;
$subheader-top-margin: 0;
$subheader-bottom-margin: 0.25em;
$sidebar-header-align: center;
$sect-divider-size: 1px;
$sect-divider-style: solid;
$sect-divider-color: #efefed;
$hr-border-color: #ddddd8;

// Paragraphs
// NOTE doesn't hit all key elements, so we'll apply it manually
//$paragraph-font-size: rem-calc(17px);

// Inline Code

$code-font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
$code-font-size: rem-calc-to-em(15px);
$code-font-weight: normal;
// FIXME don't forget about code in a table cell
$code-line-height: 1.45;
$code-color: rgba(0, 0, 0, 0.9);
$code-background-color: #f7f7f8;
$code-padding: 0.1em 0.5ex;
$code-word-spacing: -0.15em;
$code-text-rendering: optimizeSpeed;

// Code Blocks
// *Recommended highlight.js themes: magula, default, docco

$pre-font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Monospace", monospace;
$pre-font-color: rgba(0, 0, 0, 0.9);
$pre-border-size: null;
$pre-bg: #f7f7f8;
$pre-padding: 1em;
$pre-line-height: 1.45;

// Links

$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;

// Lists

$list-side-margin: rem-calc(24px);
$list-ordered-side-margin: $list-side-margin + rem-calc(4px);
$list-nested-margin: $list-side-margin;
$definition-list-header-margin-bottom: rem-calc(4px);
//$definition-list-margin-bottom: rem-calc(20px);
$definition-list-margin-bottom: rem-calc(16px);

// Blockquotes

$blockquote-font-color: $title-font-color;
$blockquote-cite-font-color: rgba(0, 0, 0, 0.6);
$blockquote-cite-font-size: rem-calc(15px);

// Tables

$table-border-color: #dedede;
$table-line-height: 1.6;
$table-head-font-size: inherit;
$table-head-bg: #f7f8f7;
$table-head-padding: rem-calc(6px 10px);
$table-row-font-size: inherit;
$table-even-row-bg: #f8f8f7;
