// IMPORTANT: $body-* variables must be defined above the defaults import

// Body

$body-bg: #fefdfd;
$body-font-color: rgba(0, 0, 0, 0.8);
$body-font-family: "Open Sans", "DejaVu Sans", sans-serif;

@import "defaults";

// Default Overrides

$primary-color: #005580;
// NOTE $code-color is 15% darker than $alert-color, so we lighten here by 15%
$alert-color: lighten(rgb(51, 29, 0), 15%);
$global-radius: 6px;
$panel-bg: #f2f2f4;

// Headings

$h1-font-size: rem-calc(38px);
$h2-font-size: rem-calc(31px);
$h3-font-size: rem-calc(25px);
$h4-font-size: rem-calc(20px);
$h4-font-size: rem-calc(18.5px);
$h5-font-size: rem-calc(17px);
$h6-font-size: 1rem;
$header-font-family: "Varela Round", "DejaVu Sans", sans-serif;
$header-font-weight: 400;
$header-font-color: rgb(0, 50, 107);
$header-line-height: 1.25;
$header-top-margin: 0.8em;
$header-bottom-margin: 0.4em;
$title-font-color: rgb(112, 63, 28);
$title-font-weight: bold;
$subheader-font-color: rgb(0, 44, 94);
$subheader-line-height: $header-line-height;
$subheader-top-margin: 0;
//$subheader-margin-bottom: 0.5rem;
// TODO fix subheader font metrics
//$subheader-letter-spacing: -0.03em;
$hr-border-color: rgba(145, 135, 84, 0.15);
$sect-divider-size: 0;
//$sect-divider-style: solid;
//$sect-divider-color: $hr-border-color;

// Paragraphs

$paragraph-line-height: 1.5;

// Inline Code

$code-font-family: "Ubuntu Mono", "DejaVu Sans Mono", monospace;
//$code-font-color: rgba(0, 0, 0, 0.9);
$code-font-size: rem-calc-to-em(17px);
$code-line-height: 1.25;
$code-font-weight: 400;

// Code Blocks

$pre-font-family: "Liberation Mono", "Consolas", monospace;
//$pre-font-color: rgba(0, 0, 0, 0.9);
$pre-border-size: 1px;
$pre-border-color: rgba(16, 195, 196, 0.125);
$pre-bg: rgba(16, 195, 196, 0.05);
$pre-padding: 1em;
$pre-line-height: 1.4;

// Links

$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;
$anchor-font-color-hover: #078d71;

// Lists

$list-side-margin: rem-calc(24px);
$list-ordered-side-margin: $list-side-margin + rem-calc(4px);
$list-nested-margin: $list-side-margin;
$definition-list-header-margin-bottom: rem-calc(4px);
$definition-list-margin-bottom: rem-calc(16px);

// Blockquotes

// FIXME font color too light
$blockquote-font-color: #999;
$blockquote-cite-font-color: #666;
$blockquote-cite-font-size: rem-calc(15px);

// Tables

$table-border-color: $hr-border-color;
$table-line-height: 1.5;
$table-head-font-size: inherit;
$table-head-bg: rgba(119, 84, 22, 0.1);
$table-head-padding: rem-calc(6px 10px);
$table-row-font-size: inherit;
$table-even-row-bg: rgba(119, 84, 22, 0.025);

// Footer

$footer-bg: rgb(11, 68, 90);
$footer-font-color: $body-bg;
