// Body

//$body-bg: #e5e5e5;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;

@import "defaults";

// General

$primary-color: #006699;
$global-radius: 0;
$panel-bg: #eee;
$icon-text-shadow: none;

// Headings

$header-font-family: Overpass, sans-serif;
$header-font-weight: bold;
$header-font-color: #222;
$header-top-margin: 1em;
$header-bottom-margin: 0.5em;
$title-font-color: $header-font-color;
$title-font-weight: $header-font-weight;
$subheader-top-margin: 0.2em;
$subheader-bottom-margin: 0.5em;
$subheader-font-weight: bold;
$sect-divider-size: 0;

// Links

$anchor-font-color-hover: #005580;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

// Inline Code

$code-font-family: "Source Code Pro", monospace;
$code-color: #7f0a0c;
$code-font-weight: bold;
$code-padding: 0;
$code-border-size: 0;

// Code Blocks

$pre-bg: #eee;
$pre-font-family: $code-font-family;
$pre-font-color: #000;
$pre-border-size: 0;
$pre-line-height: 1.4;
$pre-padding: 0.8em;

// Block Quotes

$blockquote-font-color: $body-font-color;
$blockquote-cite-font-size: rem-calc(15px);

// Ruler

//$hr-border-width: 2px;
//$hr-border-color: #eff1f1;

// Lists

$list-side-margin: rem-calc(24px);
$list-ordered-side-margin: $list-side-margin + rem-calc(4px);
$list-nested-margin: $list-side-margin;
$definition-list-header-margin-bottom: rem-calc(4px);
$definition-list-margin-bottom: rem-calc(16px);

// Tables

$table-head-font-size: inherit;
$table-row-font-size: inherit;
$table-line-height: 1.6;

// Footer

//$stretch-footer: false;
//$footer-bg: white;
//$footer-font-color: #666;
