@import "fonts/glegoo";
@import "settings/maker";
@import "components/asciidoc";
@import "components/awesome-icons";
@import "compass/css3/border-radius";

body {
  background-image: image-url('maker/body-bg.png');
  padding-bottom: 5em;
}

#header,
#content {
  background-color: #fff;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .15));
}

#content {
  @include border-radius(0 0 6px 6px);
}

#header {
  @include border-radius(6px 6px 0 0);
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom: $panel-margin-bottom / 2;
}

#footer-text {
  text-align: center;
}

#toc {
  margin-top: 2em;
}

#toctitle {
  color: $header-font-color;
}

.imageblock {
  > .content {
    text-align: center;
  }

  > .title {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: $body-font-color;
  }
}
