@import "fonts/readthedocs-collection";
@import "settings/readthedocs";
@import "components/asciidoc";
@import "components/awesome-icons";

#header, #content, #footnotes, #footer {
  background-color: #fcfcfc;
  padding-left: rem-calc(50px);
  padding-right: rem-calc(50px);
  margin-top: 0;
  margin-bottom: 0;
  body.toc2 & {
    margin-left: 0;
    margin-right: 0;
  }
}

#content {
  padding-top: rem-calc(20px);

  #{headers()} {
    a.anchor:before {
      font-size: 0.8em;
      padding-top: 0.05em;
    }
  }
}

#toc {
  ul {
    font-family: $body-font-family;
  }
  &.toc2 {
    background-color: #353131;
    border-right: none;
    line-height: 2em;
    #toctitle {
      font-size: 1.25rem !important;
    }
    a {
      color: #b3b3b3;
    }
  }
}

#header #toc {
  padding-top: rem-calc(20px);
  padding-bottom: 0;
}

.sect1 {
  padding-bottom: 0;
  @media #{$small} {
    padding-bottom: 0;
  }
}

.admonitionblock {
  border-top-width: 2rem;
  border-top-style: solid;
  margin-bottom: $panel-margin-bottom;
  & > table {
    &:before {
      color: #fff;
      content: "!! Note";
      float: left;
      font-weight: bold;
      padding-left: 0.75rem;
      margin-top: -1.5rem;
    }
    margin: 0;
    td {
      font-size: inherit;
      &.icon {
        display: none;
      }
      &.content {
        border-left: none;
        color: $body-font-color;
        line-height: $paragraph-line-height;
        padding: 0.75rem;
      }
    }
  }

  &.caution {
    border-top-color: #f0b37e;
    background-color: #ffedcc;
  }

  &.important {
    border-top-color: #f29f97;
    background-color: #fdf3f2;
  }

  &.note {
    border-top-color: #6ab0de;
    background-color: #e7f2fa;
  }

  &.tip {
    border-top-color: #1abc9c;
    background-color: #dbfaf4;
  }

  &.warning {
    border-top-color: #f0b37e;
    background-color: #ffedcc;
  }
}

#content #toc,
.sidebarblock,
.exampleblock > .content {
  border: none;
}

.listingblock,
.literalblock {
  pre {
    font-size: rem-calc(12px) !important;
  }
}

.conum[data-value] {
  font-weight: normal;
}

#footer {
  padding-top: rem-calc(8px);
}

#footer-text {
  border-top: $hr-border-width $hr-border-style $hr-border-color;
  padding-top: rem-calc(24px);
}
