@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/panels";
@import "foundation/components/tables";

// controls whether built-in AsciiDoc role classes are generated
$include-asciidoc-role-classes: true !default;

// fall-through defaults
$footer-bg: $body-font-color !default;
$footer-font-color: invert($body-font-color) !default;

body {
  //-webkit-font-smoothing: $font-smoothing;
  @extend .antialiased;
}

pre > code {
  color: $body-font-color;
}

//*:not(pre) > code

tt {
  @extend code;
}

tt {
  font-size: $code-font-size;
  padding: $code-padding;
  white-space: nowrap;
  background-color: $code-bg-color;
  border: $code-border-size $code-border-style $code-border-color;
  @include radius;
  text-shadow: none;
  //font-style: normal;
}

@if $anchor-text-decoration != none {
  // hack to prevent text from being underlined when inside a link
  // can be replaced with a! > tt in CSS 4
  p a > tt {
    display: inline-block;
    height: 1.45em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @if $code-bg-color != inherit {
    a > tt {
      border-bottom: 1px solid $anchor-font-color;
    }

    a > tt:hover {
      //background-color: darken($code-bg-color, 5%);
      border-bottom: 1px solid $anchor-font-color-hover;
    }
  }
}

#header,
#content,
#footnotes,
#footer {
  @include grid-row;
  @include grid-column($float:false);
}

#header {
  margin-bottom: $panel-margin-bottom * 2;
  & > h1 {
    color: $title-font-color;
    font-weight: $title-font-weight;
    border-bottom: $hr-border-width $hr-border-style $hr-border-color;
    margin-bottom: -28px;
    padding-bottom: 32px;
  }

  span {
    color: $blockquote-font-color;
  }

  #revnumber {
    text-transform: capitalize;
  }

  br {
    display: none;

    & + span {
      padding-left: 3px;
    }

    & + span:before {
      content: "\2013 \0020";
    }
  }
}

#toc {
  //margin-bottom: $panel-margin-bottom * 2;
  border-bottom: $sect-divider-size $sect-divider-style $sect-divider-color;
  padding-bottom: $panel-margin-bottom;
  & > ol {
    //margin-left: 0;
    margin-left: emCalc(4px);
  }
  ol {
    list-style-type: none;
  }
}

#toctitle {
  @extend h3;
  color: $subheader-font-color;
}

#footer {
  max-width: 100%;
  //margin-top: $panel-margin-bottom * 2;
  background-color: $footer-bg;
  padding: $panel-padding;
}

#footer-text {
  color: $footer-font-color;
  line-height: $paragraph-line-height * .9;
}

.sect1 {
  border-bottom: $sect-divider-size $sect-divider-style $sect-divider-color;
  padding-bottom: $panel-margin-bottom;
}

.sect1:last-of-type {
  border-bottom: 0;
}

// AsciiDoc block styles

.admonitionblock td.content,
.exampleblock,
.imageblock,
.listingblock,
.literalblock,
.openblock,
.paragraph,
.quoteblock,
.sidebarblock,
.tableblock,
.verseblock,
.ulist,
.olist,
.dlist,
.qlist {
  & > .title {
    @extend %subheader;
    text-align: left;
    font-weight: bold;
  }
}

.tableblock > caption {
  @extend %subheader;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  overflow: visible;
  max-width: 0;
}

#preamble > .sectionbody > .paragraph:first-of-type p {
  @extend %lead;
}

// nested AsciiDoc document (should put "nested" class on surrounding div)
table.tableblock #preamble > .sectionbody > .paragraph:first-of-type p {
  font-size: inherit;
}

.admonitionblock > table {
  border: 0;
  background: none;
  width: 100%;
  td.icon {
    text-align: center;
    width: 80px;
    img {
      max-width: none;
    }
    .title {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  td.content {
    padding-left: emCalc(18px);
    padding-right: emCalc(20px);
    border-left: $hr-border-width $hr-border-style $hr-border-color; 
    color: $blockquote-font-color;

    & > .paragraph:last-child > p {
      margin-bottom: 0;
    }
  }
}

.exampleblock > .content {
  @include panel($body-bg);
  @include radius;
  & > :last-child > :last-child,
  // argh, review!
  .olist > ol > li:last-child > :last-child,
  .ulist > ul > li:last-child > :last-child {
    margin-bottom: 0;
  }
}

.exampleblock.result > .content {
  @include single-box-shadow($panel-border-color, 0, 1px, 8px); 
}

.imageblock {
  margin-bottom: $panel-margin-bottom;
}

.sidebarblock {
  @include panel;
  @include radius;

  & > .content {
    & > .title {
      @extend h3;
      color: $subheader-font-color;
      //color: darken($header-font-color, 15%); // name this panel-header-color?
      margin-top: 0;
      line-height: $paragraph-line-height;
      @if $sidebar-header-border-size != 0 {
        border-width: $sidebar-header-border-size;
        border-style: $sidebar-header-border-style;
        border-color: $sidebar-header-border-color;
      }
    }

    & > .paragraph:last-child p {
      margin-bottom: 0;
    }

    .literalblock pre,
    .listingblock pre {
      // FIXME this breaks themes w/ inverted pre blocks
      //background-color: #f9f9f9;
    }
  }
}

.literalblock,
.listingblock {
  margin-bottom: $panel-margin-bottom;

  & > .content > pre {
    background: $pre-bg;
    color: $pre-font-color;
    font-family: $pre-font-family;
    //font-style: normal;
    border-width: $pre-border-size;
    @if $pre-border-size != 0 {
      border-style: $pre-border-style;
      border-color: $pre-border-color;
      @include border-radius($global-radius);
    }
    padding: $pre-padding;
    white-space: pre;
    overflow-x: auto;
    line-height: $pre-line-height;
    
    & > code {
      color: $pre-font-color;
      font-family: $pre-font-family;
      padding: 0;
      background: none;
      font-weight: normal;
    }

    @media #{$screen} {
      //font-size: $em-base * 0.75;
      //font-size: 12px;
      //padding: emCalc(12px);

      font-size: $pre-font-size * .8; 
    }

    @media #{$small} {
      //font-size: $em-base * 0.875;
      //font-size: 14px;
      //padding: emCalc(14px);

      font-size: $pre-font-size * .9;
    }

    @media #{$medium} {
      //font-size: emCalc(16px);

      font-size: $pre-font-size;
    }
  }
}

.listingblock {
  pre.highlight {
    // TODO
  }
}

@mixin language-label($lang) {
  .#{$lang}:before {
    content: quote($lang);
    text-transform: uppercase;
    float: right;
    //font-weight: bold;
    font-size: 0.9em;
    //color: $subheader-font-color;
    color: #999;
  }
}

.listingblock:hover {
  @include language-label(xml);
  @include language-label(html);
  @include language-label(ruby);
  @include language-label(asciidoc);
  @include language-label(java);
  @include language-label(css);
  @include language-label(scss);
}

// AsciiDoc quoteblock output is different from what Foundation expects
.quoteblock {
  margin: 0 0 $paragraph-margin-bottom;
  padding: $blockquote-padding;
  border-#{$default-float}: $blockquote-border;

  blockquote {
    margin: 0 0 $paragraph-margin-bottom 0;
    padding: 0;
    border: 0;

    & > .paragraph:last-child p {
      margin-bottom: 0;
    }
  }

  .attribution {
    padding-bottom: emCalc(9px);
    font-size: $blockquote-cite-font-size;
    color: $blockquote-cite-font-color;
    br {
      display: none;
    }
    cite {
      display: block;
      margin-bottom: emCalc(10px);
    }
  }
}

// FIX Foundation, user-agent stylesheet is overriding
table thead th,
table tfoot th {
  font-weight: $table-head-font-weight;
}

table.tableblock.grid-all {
  border-collapse: separate;
  border-spacing: 1px;
  @include radius;
  border-top: $table-border-highlight-size solid $table-border-highlight-color;
  border-bottom: $table-border-highlight-size solid $table-border-highlight-color;
}

table.tableblock.frame-topbot,
table.tableblock.frame-none {
  border-left: 0;
  border-right: 0;
}

table.tableblock.frame-sides,
table.tableblock.frame-none {
  border-top: 0;
  border-bottom: 0;
}

table.tableblock {
  td .paragraph:last-child p,
  td > p:last-child {
    margin-bottom: 0;
  }
}

@each $halign in (left, right, center) {
  th.tableblock.halign-#{$halign},
  td.tableblock.halign-#{$halign} {
    text-align: $halign;
  }
}

@each $valign in (top, bottom, middle) {
  th.tableblock.halign-#{$valign},
  td.tableblock.halign-#{$valign} {
    vertical-align: $valign;
  }
}

p.tableblock.header {
  color: $table-head-font-color;
  font-weight: $table-head-font-weight;
}

td > div.verse {
  white-space: pre;
}

// AsciiDoc list styles

ul {
  margin-left: emCalc(28px);
}

ol {
  margin-left: emCalc(30px);
}

dl dd {
  margin-left: $definition-list-content-margin-left;
}

// argh
dl dd:last-child,
dl dd:last-child > :last-child {
  margin-bottom: 0;
}

// used when you need to style the term inline
// or should we name it "natural"?
.unstyled dl dt {
  font-weight: normal;
  font-style: normal;
}

ol > li p,
ul > li p,
ul dd,
ol dd {
  margin-bottom: $paragraph-margin-bottom / 2;
}

@mixin ordered-list-type($class, $type) {
  ol.#{$class} {
    list-style-type: #{$type};
  }
}

@include ordered-list-type(arabic, decimal);
@include ordered-list-type(loweralpha, lower-alpha);
@include ordered-list-type(upperalpha, upper-alpha);
@include ordered-list-type(lowerroman, lower-roman);
@include ordered-list-type(upperroman, upper-roman);

.hdlist > table,
.colist > table {
  border: 0;
  background: none;
  //width: 100%;
  & > tbody > tr {
    background: none;
  }
}

.literalblock + .colist,
.listingblock + .colist {
  margin-top: -0.5em;
}

.colist > table {
  tr > td:first-of-type {
    padding: 0 .8em;
    line-height: 1;
  }

  tr > td:last-of-type {
    padding: emCalc(4px) 0;
  }
}

td.hdlist1 {
  vertical-align: top;
  padding-right: .8em;
}

.qanda > ol > li > p:first-child {
  color: darken($primary-color, 5%);
}

// AsciiDoc footnote styles
span.footnote,
span.footnoteref {
  vertical-align: super;
  font-size: emCalc(14px);
  a {
    text-decoration: none;
  }
}

#footnotes {
  padding: emCalc(12px) emCalc(6px);
  margin-bottom: $paragraph-margin-bottom;
  border-top: $hr-border-width $hr-border-style $hr-border-color;
  hr {
    display: none;
  }
  .footnote {
    line-height: 1.3;
    font-size: emCalc(14px);
    margin-left: 1.2em;
    text-indent: -1.2em;
    //margin-left: 1.5em;
    //text-indent: -1em;
    margin-bottom: .2em;
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .footnote:last-of-type {
    margin-bottom: 0;
  }
}

// for embedded gists
.gist .file-data > table {
  border: none;
  background: #fff;
  width: 100%;
  margin-bottom: 0;
  td.line-data {
    width: 99%;
  }
}

// QUESTION: should this be a built-in role class?
.unbreakable {
  page-break-inside: avoid;
}

// AsciiDoc built-in roles
@if $include-asciidoc-role-classes {
  span.big {
    font-size: larger;
  }
  
  span.small {
    font-size: smaller;
  }

  @each $decoration in (underline, overline, line-through) {
    span.#{$decoration} {
      text-decoration: $decoration;
    }
  }

  // colors must be quoted or else they may get converted to hex in compression output mode
  @each $color in ('aqua', 'black', 'blue', 'fuchsia', 'gray', 'green', 'lime', 'maroon', 'navy', 'olive', 'purple', 'red', 'silver', 'teal', 'white', 'yellow') {
    span.#{$color} {
      color: scale-color(string-to-color($color), $lightness: $rainbow-lightness);
    }
  
    span.#{$color}-background {
      background-color: scale-color(string-to-color($color), $lightness: $rainbow-bg-lightness);
    }
  }

  //*:not(code) > .comment {
  //  background: yellow;
  //}
}

// A completed catalog of available Foundation CSS resources, annotated with
// any required dependencies where applicable.

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
