.print-only { display: none !important; }
@media print {
  @page {
    margin: 1.25cm 0.75cm;
  }
  * {
    @include box-shadow(none !important);
    text-shadow: none !important;
  }
  a, a:visited {
    color: inherit !important;
    text-decoration: underline !important;
  }
  a[href^="http:"]:after, a[href^="https:"]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"], a[href^="#"]:visited, a[href^="mailto:"], a[href^="mailto:"]:visited {
    text-decoration: none !important;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
  code {
    color: $pre-font-color;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  h2, h3, #toctitle, .sidebarblock > .content > .title {
    page-break-after: avoid;
  }
  #toc, .sidebarblock {
    background: none !important;
  }
  #toc {
    border-bottom: 1px solid $hr-border-color !important;
    padding-bottom: 0 !important;
  }
  .sect1 {
    padding-bottom: 0 !important;
    & + .sect1 {
      border: none !important;
    }
  }
  body.book #header {
    text-align: center;
  }
  body.book #header > h1 {
    border: none !important;
    margin: 2.5em 0 1em 0;
    padding: 0;
  }
  body.book #header span {
    line-height: 1.6;
  }
  body.book #header br {
    display: block;
  }
  body.book #header br + span {
    padding-left: 0;
  }
  body.book #header br + span:before {
    content: none !important;
  }
  body.book #toc {
    border: none !important;
    text-align: left !important;
    padding: 0 !important;
  }
  body.book #toc,
  body.book #preamble,
  body.book h1.sect0,
  body.book .sect1 > h2 {
    page-break-before: always;
  }
  .literalblock, .listingblock {
    pre, pre[class] {
      border: none !important;
      background: #f5f5f5 !important;
      padding: 0.75em !important;
    }
  }
  .listingblock pre.highlight {
    padding: 0 !important;
    & > code {
      background: #f5f5f5 !important;
      padding: 0.75em !important;
    }
  }
  #footer {
    background: none !important;
  }
  #footer-text {
    color: $body-font-color !important;
  }
  .hide-on-print { display: none !important; }
  .print-only { display: block !important; }
  .hide-for-print { display: none !important; }
  .show-for-print { display: inherit !important; }
}
