.print-only { display: none !important; }
@media print {
  @page {
    margin: 1.25cm 0.75cm;
  }
  * {
    @include box-shadow(none !important);
    text-shadow: none !important;
  }
  a, a:visited {
    color: inherit !important;
    text-decoration: underline !important;
  }
  a[href^="http:"]:after, a[href^="https:"]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"], a[href^="#"]:visited, a[href^="mailto:"], a[href^="mailto:"]:visited {
    text-decoration: none !important;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
  code {
    color: $pre-font-color;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  h2, h3, #toctitle, .sidebarblock > .content > .title {
    page-break-after: avoid;
  }
  #toc, .sidebarblock {
    background: none !important;
  }
  #toc {
    border-bottom: 1px solid $hr-border-color !important;
    padding-bottom: 0 !important;
  }
  .sect1 {
    padding-bottom: 0 !important;
    & + .sect1 {
      border: none !important;
    }
  }
  #header > h1:first-child {
    margin: 0.5em 0 0 0; 
  }
  body.book {
    #header {
      text-align: center;
      & > h1:first-child {
        border: none !important;
        margin: 2.5em 0 1em 0;
      }
      .details {
        border: none !important;
        display: block;
        padding: 0 !important;
        span:first-child { margin-left: 0 !important; }
        br {
          display: block;
          & + span:before {
            content: none !important;
          }
        }
      }
    }
    #toc {
      border: none !important;
      text-align: left !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    #toc,
    #preamble,
    h1.sect0,
    .sect1 > h2 {
      page-break-before: always;
    }
  }
  .literalblock,
  .listingblock {
    pre, pre[class] {
      @if $pre-border-size {
        border: none !important;
      }
      // QUESTION force normal font weight?
      //font-weight: normal !important;
      background: #f7f7f7 !important;
      padding: 1em !important;
    }
  }
  .listingblock pre.highlightjs > code {
    padding: 0 !important;
    background: none !important;
  }
  #footer {
    background: none !important;
    padding: 0 ($column-gutter / 2);
  }
  #footer-text {
    color: $blockquote-cite-font-color !important;
    font-size: 0.9em;
  }
  .hide-on-print { display: none !important; }
  .print-only { display: block !important; }
  .hide-for-print { display: none !important; }
  .show-for-print { display: inherit !important; }
}
